* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Brie;
    src: url("fonts/BRIE.TTF");
}

#container {

    /* Prevent the scrollbar from appearing when sliding the sections to the right. */
    overflow-x: hidden;
}

#social-links {
    position: fixed;
    top: 16px;
    right: 28px;
    list-style: none;
}

.social-link {
    color: #FFFFFF;
}

.social-link:not(:last-child) {
    margin-right: 12px;
}

.social-link-icon {
    font-size: 3em !important;
}

#container {
    height: 100vh;

    /* Set the background to cover the background and have an overlay to make it a bit darker. */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/header.jpeg") fixed;
    background-size: cover;
    background-repeat: no-repeat;   

    color: white;
    font-family: Brie;
}

.section {
    padding-top: 248px;
    min-height: 206px; 
}

.section:not(:first-child) {
    display: none;
}

#welcome-section {
    text-align: center;
}

#welcome-section h1 {
    font-size: 4em;
}

#welcome-section h2 {
    margin-top: 42px;
}

#welcome-section h3 {
    margin-top: 28px;
}

#projects-section #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    list-style: none;
}

#projects-section .project {
    padding: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-left: 18px;
    margin-right: 18px;
    width: 260px;
    height: 265px;
}

#projects-section .project .project-thumbnail {
    width: 260px;
    height: 136px;
    margin-bottom: 8px;
}

#projects-section .project .project-category {
    float: right;
}

#contact-section form {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

#contact-section form input, textarea, button {
    background: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: white;
}

#contact-section form input, textarea {
    padding: 12px;
}

#contact-section form button {
    padding: 12px 42px;
}

#contact-section form textarea {
    width: 100%;
    resize: none;
}

#navigation {
    text-align: center;
    font-size: 1.5em;
    padding-top: 62px;
}

#navigation ul {
    padding-top: 16px;
    padding-bottom: 16px;

    list-style: none;
}

#navigation li {
    display: inline;
    padding: 12px 42px;

    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

#navigation li:not(:last-child) {
    margin-right: 32px;
}

#navigation li:hover {
    cursor: pointer;
}

@media screen and (max-width: 630px) {
    .section {
        padding-top: 100px;
    }

    #navigation li {
        display: block;
        max-width: 190px;
        margin-left: auto;
        margin-right: auto !important;
    }

    #navigation li:not(:last-child) {
        margin-bottom: 32px;
    }
}